*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  padding: 5px;
  background-color: gray;
}
.space{
  margin: 50px auto;
  max-width: 1100px;
}
.space nav{
  display: flex;
  justify-content: center;
}
.space .items{
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.items span{
  padding: 7px;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
  transition: all 0.3s ease;
}
.items span:hover{
  color: white;
  background: black;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
.gallery .image{
  width: calc(100% / 4);
  padding: 7px;
}
.gallery .image:hover img{
  transform: scale(1.1);
  border: 2px solid black;
}
.gallery .image.hide{
  display: none;
}
@keyframes animate {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}

.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: black;
  color: white;
  max-width: 700px;
  z-index: 10;
  opacity: 0;
  border-radius: 10px;
  padding:5px;
  box-shadow: 15px black;
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .title{
  display: flex;
  font-size: 18px;
  font-weight: 800;
}

.details .icon{
  color: white;
  cursor: pointer;
}
.preview-box .image-box{
  width: 100%;
  display: flex;
}
.image-box img{
  width: 100%;
  border-radius: 3px;
}
@media (max-width: 600px) {
  .space{
    margin:5rem;
  }
  .space nav .items{
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span{
    margin: 5px;
  }
  .gallery .image{
    width: 100%;
  }
}